.modal-link {
  color: #002693;
}

.modal-title {
  font-size: 24px;
  font-family: 'Daxline Pro', 'Maven Pro', Arial, sans-serif;
  color: #001246;
}

.modal-info {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}